body {
    overscroll-behavior: contain;
    max-width: 100%;
    overflow-x: hidden;
}

/* --- NAV BAR --- */
.bg-light .navbar{
    background-color: transparent !important;
}

.nav-link {
    font-size: 13px;
    margin-left: 10px;
    font-weight: 350 !important;
    color: rgb(97, 97, 97) !important;
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar-btn {
    margin-top: 3px;
    margin-right: 20px;
    padding: 5px 12px !important;
    border-radius: 2px !important;
    background-color: #5085ff !important;
    font-size: 13px !important;
    font-weight: bold !important;
}

.navbar-right {
    list-style-type: none;
    text-align: right !important;
    padding: 0px;
}

.navbar-svg {
    margin-top: 8px;
    margin-left: 8px;
    color: rgb(97, 97, 97) !important;
}

.navbar-svg:hover {
    color: rgb(62, 62, 62) !important;
}

/* --- LOGO --- */

.googleLogo {
    padding: 20%;
}

/* --- SEARCH BOX --- */
.searchArea {
    margin-top: -18%;
}
.searchDiv {
    padding: 10px;
    border: rgb(222, 222, 222);
    border-style: solid;
    border-width: 1px;
    /*border-radius: 50px;*/
    width: 600px;
}

#searchbox {
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    user-select: none;
    cursor: auto;
}

.searchDiv:hover {
    -webkit-box-shadow: 3px 6px 7px -3px #ccc;
}

#google-mic {
    height: 20px;
    width: 20px;
}

/* --- SEARCH BUTTONS --- */

#searchButton {
    margin: 30px 10px;
    color: rgb(46, 46, 46);
    font-family: Arial, sans-serif;
    font-size: 14px;
    height: 36px;
    width: 140px;
}

#searchButton:hover {
    border-style: solid;
    border-color: rgb(211, 211, 211);
    border-width: 1px;
    border-radius: 4px;
    -webkit-box-shadow: 2px 5px 6px -4px #ccc;
}

/* --- FOOTER --- */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.upper-footer {
    background-color: rgb(255, 251, 241);
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: rgb(222, 222, 222);
}

.lower-footer {
    background-color: rgb(255, 251, 241);
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: rgb(222, 222, 222);
    width: 100%;
}

.country {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: 100;
    color: rgb(97, 97, 97);
    margin-left: 20px;
}

.country:hover {
    color: rgb(97, 97, 97);
    cursor: auto;
}

.lower-linksLeft {
    text-decoration: none;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: rgb(97, 97, 97);
    margin: 0 5px 0 5px;
    margin-left: 20px;
}

.lower-linksCenter {
    text-decoration: none;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: rgb(97, 97, 97);
    margin: 0 5px 0 5px;
}

.lower-linksRight {
    float: right;
    margin-right: 20px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: rgb(97, 97, 97);
    
}

.lower-linksLeft:hover {
    text-decoration: underline;
    color: rgb(97, 97, 97);
}
.lower-linksCenter:hover {
    text-decoration: underline;
    color: rgb(97, 97, 97);
}
.lower-linksRight:hover {
    text-decoration: underline;
    color: rgb(97, 97, 97);
}
